#glass-effect {
  background: rgba(255, 255, 255, 0.04);

  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);

  border: 1px solid rgba(255,255,255,0.08);

  box-shadow:
    0 12px 40px rgba(0,0,0,0.18);
}